<ul>
  <li>Band Selection</li>
  <li>Optional histogram stretch</li>
  <li>debug log</li>
  <li>resampling / resize with debounce</li>
  <li>Rust cache of images, with clear option</li>
  <li>NDVI calc</li>
  <li>loading indicator</li>
  <li>explanatory text</li>
  <li>break into multiple components</li>
  <li>remove debug info</li>
</ul>

<app-image-selection
  (optionChange)="handleImageSelectionChange($event)"
  >
</app-image-selection>

<app-image-display
  [selectedImageOption]="selectedImage"
  >
</app-image-display>