<ul>
  <li>loading indicator</li>
  <li>explanatory text</li>
  <li>styling</li>
</ul>

<div id="selection-container">
  <app-image-selection
    (optionChange)="handleImageSelectionChange($event)"
    >
  </app-image-selection>
  <app-image-stretch-selection
    (stretchChange)="handleStretchChange($event)"
    >
  </app-image-stretch-selection>
</div>

<div id="display-container">
  <div id="display-image-container">
    <app-image-display
      [selectedImageOption]="selectedImage"
      [stretchSelected]="stretchSelected"
      >
    </app-image-display>
  </div>
  <div id="display-log-container">
    <app-debug-log></app-debug-log>
  </div>
</div>
