<div id="full-container">
  <h1>Angular / WASM Demo</h1>

  <p>Demo showing a simple use-case for a JavaScript front-end application integrating a WASM component.</p>

  <hr />

  <div id="selection-container">
    <div id="selection-image-type-container">
      <app-image-selection
        (optionChange)="handleImageSelectionChange($event)"
        >
      </app-image-selection>
    </div>
    <div id="selection-stretch-container">
      <app-image-stretch-selection
        (stretchChange)="handleStretchChange($event)"
        >
      </app-image-stretch-selection>
    </div>
  </div>

  <div id="display-container">
    <div id="display-image-container">
      <app-image-display
        [selectedImageOption]="selectedImage"
        [stretchSelected]="stretchSelected"
        >
      </app-image-display>
    </div>
    <div id="display-log-container">
      <app-debug-log></app-debug-log>
    </div>
  </div>
</div>